html{
    background-color: #454545;
    
}

#one{
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    color: #FFE6C7;
}

.two{
    color: #FFE6C7;
    font: 1em sans-serif;
}

.footer{
    color: #f8f8f8
}